*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.btn {
  background-color: #30B868;
  border: none;
  padding: 12px 16px;
  border-radius: 4px;
  font-size: 20px;
  font-weight: 600;
  color: #FFF8F3;
  cursor: pointer;;
} 

.ready-heading{
  max-width: 1360px;
  text-align: center;
  margin-bottom: 16px;
}

.ready-heading h2{
  font-size: 40px;
  color: #001931;
  margin-bottom: 24px;
}
.ready-heading p{
  font-size: 16px ;
  margin-bottom: 24px;
  color: #627382;
  line-height: 24px;
}
nav .logo img{
  margin: 0px auto;
  align-items: center;
 }

header{
  background-color: #FFFFFF;
  padding-top: 16px;
}

nav{
  width: 100%;
  max-width: 1600px;
  height: 92px;
  /* border: 1px solid saddlebrown;  */
  margin: 0px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav .menu{
  display: flex;
  list-style-type: none;
  gap: 32px;
  align-items: center;
}
nav .menu a{
  font-size: 16px;
  color: #000000;
  font-size: 500;
  font-weight: 500;
  text-decoration: none;
  align-items: center;
}
nav .button{
  display: flex;
  list-style-type: none;
  gap: 32px;
  align-items: center;
  padding: 12px 16px;
}
nav .button .btn:hover{
  background-color: rgb(98, 17, 131);
}

.banner{
  background-image: url(../assets/hero-bg.png);
  width: 100%;
  max-width: 1600px;
  height: 674px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  /* border: 1px solid red; */
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.banner-content{
  width: 1360px;
  height: 379px;
  text-align: center;
}

.banner-badge{
  display: inline-flex;
  align-items: center;
  gap: 4px;
  padding: 8px 12px;
  background: #FFFFFF;
  color: #30B868;
  border-radius: 999px;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 16px;
  /* border: 2px solid red; */
}
.dot{
  width: 16px;
  height: 16px;
  background: #30B868;
  border-radius: 50%;
  box-shadow: 0 0 0 4px rgba(64, 141, 67, 0.25);
}

.banner-content h1{
  font-size: 72px;
  font-weight: 700;
  line-height: 84px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 16px;
  /* border: 2px solid red; */
}
.banner-title span{
  color: #30B868;
}
.banner-content p {
  font-size: 18px;
  line-height: 1.8;
  max-width: 1360px;
  height: 60px;
  text-align: center;
  /* margin: 20px auto; */
  margin-bottom: 32px;
  color: #FFFFFF;
  /* border: 2px solid red; */
}

.banner-buttons{
  display: flex;
  justify-content: center;
  font-size: 16px;
  gap: 16px;
  margin-top: 32px;
  width: auto;
  /* border: 2px solid red; */
}
.btn.primary {
  background-color: #30B868;
  color: #ffffff;
}
.btn.secondary {
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
}
.btn.primary:hover {
  background-color: #b60825f6;
}
.btn.secondary:hover {
  background-color: rgba(25, 2, 200, 0.789);
}

#notes{
  width: 85%;
  max-width: 1360px;
  /* height: 116px; */
  /* justify-content:center; */
   text-align: center;
   padding: 80px 0;
  /* border: 1px solid #000000; */
  margin: 0 auto;
}


#notes .notes-container .section-heading{
  margin-bottom: 44px;
  /* border: 1px solid black; */
}
#notes .notes-container .section-heading h2 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 16px;
  color: #001931 ;
}
#notes .notes-container .section-heading p {
  font-size: 16px;
  font-weight: 400;
  color: #627382 ;
  line-height: 24px;
}

#notes .notes-container .notes-box{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}
#notes .notes-container .notes-card{
  background: #ffffff;
  border-radius: 16px;
  padding: 40px 24px;
  min-height: 300;
  box-shadow: 0 10px 25px rgb(89, 85, 85);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
#notes .notes-container .notes-card img{
  width: 32px;
  height: 32px;
  margin-bottom: 16px;
  padding: 14px;
  border-radius: 999px;
  background: red;
  box-sizing: content-box;
}

#notes .notes-container .notes-card h3{
  font-size: 20px;
  font-weight: 600;
  color: #001931;
  margin-bottom: 16px;
  line-height: 29px;
  
}
#notes .notes-container .notes-card p{
  font-size: 16px;
  max-width: 274px;
  margin: 0 auto;
  color: #627382;
  line-height: 20px;
}


#brain {
  width: 85%;
  max-width: 1360px;
  margin: 0 auto;
  padding: 80px 0;
  /* border: 1px solid red ; */
}

.brain-container {
  display: flex;
  justify-content: space-between;
  gap: 60px; 
  align-items: center;
  /* border: 1px solid red; */
}
.brain-image {
  width: 48%;
  background-color: #FFFFFF;
  border: none;
  border-radius: 24px;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.brain-image img {
  width: 100%;
  max-width: 600px;
  height: auto;
}

.brain-text {
  width: 48%;
  max-width: 620px;
  /* height: auto; */
}
.brain-label {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1.2px;
  line-height: 20px;
  color: #30B868;
  margin-bottom: 16px;
}


.brain-title {
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  color: #001931;
  margin-bottom: 16px;
}
.brain-text p {
  font-size: 16px;
  line-height: 20px;
  color: #627382;
  margin-bottom: 40px;
}
.brain-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.brain-list li {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 16px;
  line-height: 20px;
  color: #001931;
}
.brain-list li img {
  width: 18px;
  height: 18px;
  margin-top: 3px;
  flex-shrink: 0;
}


#ready{
  padding-top: 2px;
}

#ready .ready-container{
  width: 85%;
  max-width: 1360px;
  margin: 0 auto;
  text-align: center;
  background-color: #F7F6F2;
  padding: 80px 40px;
}

#ready .ready-container .ready-info {
  margin-top:  24px;
}

#ready .ready-container .ready-button .btn{
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 16px;
}
#ready .ready-container .btn:hover{
  background-color: #a20bb270;
}


#ready .ready-container .ready-button p{
  font-size: 16px;
  font-weight: 400;
  color: #627382;
}


footer{
  margin-top: 120px;
  background-color: #001931;
  padding: 60px 120px 30px;
}

footer .footer-container{
  width: 85%;
  max-width: 1360px;
  margin: 0 auto;
  /* margin-bottom: 80px; */
}

footer .footer-container .logo{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .footer-container .logo p {
  font-size: 20px;
  font-weight: 500;
  color: #FFFFFF;
  margin-bottom: 16px;
}

footer .footer-container .logo a{
  margin-right: 16px;
  color: white;
}

.copyright {
  width: 85%;
  max-width: 1360px;
  margin: 80px 0 auto;
  text-align: center;
}

.copyright hr{
  width: 85%;         
  max-width: 1360px;
  margin: 0 auto 24px;
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  justify-items: center;
}
.copyright p{
  margin-top: 30px;
  font-size: 16px;
  font-weight: 400;
  color: #FAFAFA;
}